/** biome-ignore-all lint/suspicious/noUnknownAtRules: false positive */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MADE Dillan Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../../public/made-dillan.otf");
}

[style*="--aspect-ratio"] > :first-child {
  width: 100%;
}
[style*="--aspect-ratio"] > img {
  height: auto;
}
@supports (--custom: property) {
  [style*="--aspect-ratio"] {
    position: relative;
  }
  [style*="--aspect-ratio"]::before {
    display: block;
    padding-bottom: calc(100% / (var(--aspect-ratio)));
    content: "";
  }
  [style*="--aspect-ratio"] > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
  }
}

.border-styria {
  @apply border-2 border-brand-400;
}
